body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #353839;
  /* position: fixed; */
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  top: 0;
  margin-top: 0;
  background-color: grey;
  color: white;
  height: 9rem;
  width: 100%;
  position: relative;
}
.icon {
  color: white;
  font-size: 1.7rem;
}

li {
  list-style-type: none;
}

.profile-icons-list {
  display: inline-block;
  padding-right: 10rem;
}
.profile-icons-list .white {
  background-color: white;
}
.profile-icons-ul {
  padding-bottom: 1rem;
  background-color: #353839;
  height: 4rem;

  width: 100%;
  padding-left: 5rem;
  align-items: center;
}
.search-bar {
  width: 15rem;
  border-radius: 3rem;
  height: 2.5rem;
  box-shadow: white;
  border: white solid 0.2rem;
  text-align: center;
}
.gender:hover {
  background-color: grey;
}
.set {
  background-color: grey;
}
.category-links {
  background-color: grey;
  height: 2rem;
}

.category-links-container {
  margin-bottom: 2rem;
  display: inline;
  width: 100%;
}

.cat-links-list {
  display: inline-block;
  margin-right: 2rem;
  color: white;
  margin-left: 2rem;
  padding-left: 1rem;
}

a {
  list-style-type: none;
  color: white;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
  text-decoration: none;
}
.home_bg {
  background-image: url("https://st4.depositphotos.com/12985790/20643/i/600/depositphotos_206432966-stock-photo-attractive-fashionable-woman-posing-white.jpg");

  height: 400px;
  background-repeat: no-repeat;
  background-color: lightcoral;
  margin-top: -1.5rem;
}

.submenu {
  background-color: white;
  box-shadow: var(--dark-shadow);
  position: absolute;
  /* top: 10rem; */
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 3rem;
  border-radius: var(--radius);
  transition: var(--transition);
  transition-delay: 0.1s;
  transition-duration: 0.4s;
  padding-top: -3;
}
.submenu.show {
  display: block;
}

/* .submenu-center {
  display: grid;
  gap: 0.25rem 2rem;
} */
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.submenu h4 {
  margin-bottom: 1.5rem;
}

.products {
  display: grid;
  background-color: lightgrey;
  /* max-width: fit-content; */
  width: 100%;
  height: auto;
}
.shadow {
  background: #eee;
  box-shadow: 0 10px 10px 4px rgb(228, 203, 233);
  display: inline-block;
  margin-left: 3rem;

  width: 300px;

  margin-top: 2rem;
  margin-right: 2rem;
  text-align: center;
  border-color: transparent;
  padding: 1rem 1rem;
  transition: transform 0.2s;
  border-radius: 0.3rem;
}

.shadow:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.modal {
  background-color: white;
  box-shadow: var(--dark-shadow);
  position: fixed;
  overflow-y: scroll;
  width: 800px;
  height: 800px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  padding: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
  transition-delay: 0.1s;
  transition-duration: 0.4s;
}
.footer {
  background-color: #353839;
  height: 300px;
  width: 100%;
  margin-top: 3rem;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid white;
  margin-left: 3.5rem;
  margin-top: -6px;
}
